<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
    {% load staticfiles %}

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="{% static '' %}canvas/one-page/onepage.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="{% static '' %}canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="{% static '' %}canvas/one-page/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="{% static '' %}canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->


	<!-- Document Title
	============================================= -->
	<title>HKSTP LIVEABILITY</title>

    <style>
        #map {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .nicebox {
            position: absolute;
            text-align: center;
            font-family: "Roboto", "Arial", sans-serif;
            font-size: 13px;
            z-index: 5;
            box-shadow: 0 4px 6px -4px #333;
            padding: 5px 10px;
            background: rgb(182, 255, 199);
            background: linear-gradient(to bottom, rgb(187, 195, 255) 0%, rgb(203, 245, 201) 100%);
            border: rgb(229, 220, 225) 1px solid;
        }

        #controls {
            top: 1400px;
            left: 20px;
            width: 400px;
            height: 70px;
        }

        #data-box {
            top: 1550px;
            left: 20px;
            width: 300px;
            height: 55px;
            line-height: 45px;
            display: none;
{#            background: #ffd3d8;#}
            background: #b9d3cc;
        }

        #style-selector-control {
            top: 360px;
            left: 50px;
            width: 300px;
            height: 55px;
            line-height: 45px;
            display: none;
            background: #ffd3d8;
        }

        #census-variable {
            width: 360px;
            height: 20px;
        }

        #legend {
            display: flex;
            display: -webkit-box;
            padding-top: 7px
        }

        .color-key {
            background: linear-gradient(to right,
            hsl(151, 83%, 34%) 0%,
            hsl(127, 81%, 37%) 17%,
            hsl(102, 78%, 41%) 33%,
            hsl(78, 76%, 44%) 50%,
            hsl(54, 74%, 47%) 67%,
            hsl(42, 66%, 59%) 83%,
            hsl(6, 51%, 71%) 100%);
            flex: 1;
            -webkit-box-flex: 1;
            margin: 0 5px;
            text-align: left;
            font-size: 1.0em;
            line-height: 1.0em;
        }

        #data-value {
            font-size: 1.2em;
            font-weight: bold
        }

        #data-label {
            font-size: 1.2em;
            font-weight: normal;
            padding-right: 10px;
        }

        #data-label:after {
            content: ':'
        }

        #data-caret {
            margin-left: -5px;
            display: none;
            font-size: 14px;
            width: 14px
        }
    </style>

</head>

<body class="stretched side-push-panel">

	<div class="body-overlay"></div>

	<div id="side-panel" class="dark">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget widget_links clearfix">

				<h4>About </h4>

				<div style="font-size: 14px; line-height: 1.7;">
					<address style="line-height: 1.7;">
						795 Folsom Ave, Suite 600<br>
						San Francisco, CA 94107<br>
					</address>

					<div class="clear topmargin-sm"></div>

					<abbr title="Phone Number">Phone:</abbr> (91) 8547 632521<br>
					<abbr title="Fax">Fax:</abbr> (91) 11 4752 1433<br>
					<abbr title="Email Address">Email:</abbr> info@canvas.com
				</div>

			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header border-full-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
{#						<a href="#" class="standard-logo" data-dark-logo="{% static '' %}img/canvasone-dark.png"><img src="{% static '' %}img/canvasone.png" alt="Canvas Logo"></a>#}
{#						<a href="#" class="retina-logo" data-dark-logo="{% static '' %}img/canvasone-dark@2x.png"><img src="{% static '' %}img/canvasone@2x.png" alt="Canvas Logo"></a>#}
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
							<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
                            <li><a href="#" data-href="#section-about"><div>About</div></a></li>
							<li>
                                <a href="#" data-href="#section-works">

                                <div>Liveability on Map</div>
                                </a>
                            </li>

{#							<li><a href="#" data-href="#section-services"><div>Services</div></a></li>#}
{#							<li><a href="#" data-href="#section-blog"><div>Blog</div></a></li>#}
{#							<li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>#}
						</ul>

						<div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-parallax full-screen force-full-screen">

			<div class="slider-parallax-inner">

				<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static '' %}canvas/one-page/images/page/main.jpg'); background-size: cover; background-position: center center;">

					<div class="container center">
						<div class="vertical-middle">
							<div class="emphasis-title">
								<h1>
									<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
										<span class="t-rotate t700 font-body opm-large-word">Welcome to Liveability |HKSTP DATA STUDIO</span>
									</span>
								</h1>
							</div>
{#							<a href="#" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70"></a>#}
						</div>
					</div>

					<div class="video-wrap">
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>

{#					<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>#}

				</div>

			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

                <div id="section-about" class="center page-section">

                                    <div class="container clearfix">

                                        <h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">The data studio creating stunning &amp; engaging experiences</h2>

                                        <p class="lead divcenter bottommargin" style="max-width: 800px;">Ford Foundation reduce child mortality fight against oppression refugee disruption pursue these aspirations effect. Free-speech Nelson Mandela change liberal; challenges of our times sustainability institutions.</p>

                {#						<p class="bottommargin" style="font-size: 16px;"><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Learn more <i class="icon-angle-right"></i></a></p>#}

                                        <div class="clear"></div>

                                        <div class="row topmargin-lg divcenter" style="max-width: 1000px;">

                                            <div class="col-sm-4 bottommargin">

                                                <div class="team">
                                                    <div class="team-image">
                                                        <img src="{% static '' %}canvas/one-page/images/team/1.jpg" alt="John Doe">
                                                        <div class="team-overlay">
                                                            <div class="team-social-icons">
                                                                <a href="#" class="social-icon si-borderless si-small si-facebook" title="Facebook">
                                                                    <i class="icon-facebook"></i>
                                                                    <i class="icon-facebook"></i>
                                                                </a>
                                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                                    <i class="icon-twitter"></i>
                                                                    <i class="icon-twitter"></i>
                                                                </a>
                                                                <a href="#" class="social-icon si-borderless si-small si-github" title="Github">
                                                                    <i class="icon-github"></i>
                                                                    <i class="icon-github"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="team-desc team-desc-bg">
                                                        <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 bottommargin">

                                                <div class="team">
                                                    <div class="team-image">
                                                        <img src="{% static '' %}canvas/one-page/images/team/2.jpg" alt="Josh Clark">
                                                        <div class="team-overlay">
                                                            <div class="team-social-icons">
                                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                                    <i class="icon-twitter"></i>
                                                                    <i class="icon-twitter"></i>
                                                                </a>
                                                                <a href="#" class="social-icon si-borderless si-small si-linkedin" title="LinkedIn">
                                                                    <i class="icon-linkedin"></i>
                                                                    <i class="icon-linkedin"></i>
                                                                </a>
                                                                <a href="#" class="social-icon si-borderless si-small si-flickr" title="Flickr">
                                                                    <i class="icon-flickr"></i>
                                                                    <i class="icon-flickr"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="team-desc team-desc-bg">
                                                        <div class="team-title"><h4>Mary Jane</h4><span>Co-Founder</span></div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 bottommargin">

                                                <div class="team">
                                                    <div class="team-image">
                                                        <img src="{% static '' %}canvas/one-page/images/team/3.jpg" alt="Mary Jane">
                                                        <div class="team-overlay">
                                                            <div class="team-social-icons">
                                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                                    <i class="icon-twitter"></i>
                                                                    <i class="icon-twitter"></i>
                                                                </a>
                                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                                    <i class="icon-vimeo"></i>
                                                                    <i class="icon-vimeo"></i>
                                                                </a>
                                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                                    <i class="icon-instagram"></i>
                                                                    <i class="icon-instagram"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="team-desc team-desc-bg">
                                                        <div class="team-title"><h4>Josh Clark</h4><span>Sales</span></div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
				<div id="section-works" class="page-section notoppadding">

{#                    <div class="container clearfix">#}
{#                        <h3></h3>#}
{##}
{#                    </div>#}
                    <div class="heading-block center">
                        <h2>Liveability on Map</h2>
                        {#							<span class="divcenter"></span>#}
                    </div>

                    <div id="controls" class="nicebox">
                        <div>
                            <select id="census-variable">
                                <option value="liangsongyitang">
                                    2016 年「兩餸一湯」平均價格
                                </option>
                                <option value="edu">
                                    Primary School Ranking
                                </option>
                                <option value="house">
                                    House Pricing
                                </option>
                                <option value="cr">
                                    crime rate
                                </option>
                            </select>
                        </div>
                        <div id="legend">
                            <div id="census-min">min</div>
                            <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
                            <div id="census-max">max</div>
                        </div>
                        </div>
                    <div id="data-box" class="nicebox">
                        <label id="data-label" for="data-value"></label>
                        <span id="data-value"></span>
                    </div>

                    <div id="style-selector-control" class="map-control">
                        <select id="style-selector" class="selector-control">
                            <option value="default">Default</option>
                            <option value="silver">Silver</option>
                            <option value="night">Night mode</option>
                            <option value="retro" selected="selected">Retro</option>
                        </select>
                    </div>
                    <div id="map" style="height: 800px; margin-bottom: 20px;" class="gmap"></div>

                    <div class="container clearfix">

                        <p class="nobottommargin">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
                            id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis
                            dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla
                            vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            Nulla vitae elit libero, a pharetra augue.</p>

                    </div>


				</div>
			</div>
            <div class="container clearfix">

					<div class="row topmargin-lg bottommargin-sm">

						<div class="heading-block center">
							<h2>Give me a Score</h2>
							<span class="divcenter"></span>
						</div>
                        <div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
								<p>Score of <strong>Amenities</strong></p>
							</div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
                                <p>Score of  <strong>Cost of Living</strong></p>
							</div>
                            <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
                                <p>Score of <strong>Crimes Rate</strong></p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
								<p>Score of <strong>Education</strong></p>
							</div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
								<p>Score of <strong>Employment</strong></p>
							</div>



						</div>
                        <div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
								<p>Score of <strong>Housing</strong></p>
							</div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
								<h1>90</h1>
								<p>Score of <strong>Weather</strong></p>
							</div>

{#							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">#}
{#								<div class="fbox-icon">#}
{#									<a href="#"><i class="icon-bulb"></i></a>#}
{#								</div>#}
{#								<h3>Light &amp; Dark Color Schemes</h3>#}
{#								<p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>#}
{#							</div>#}

						</div>

					</div>

				</div>
            <div class="row clearfix bottommargin-lg common-height">

					<div class="col-md-12 col-sm-12 dark center col-padding" style="background-color: #515875;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                            <div class="counter counter-lined"><span data-from="1" data-to="84" data-refresh-interval="50" data-speed="2000"></span></div>
							<h5>Best District: cw</h5>
						</div>
					</div>
				</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">

			<div class="container center">
				<div class="footer-widgets-wrap">

					<div class="row divcenter clearfix">

						<div class="col-md-4">

							<div class="widget clearfix">
								<h4>Site Links</h4>

								<ul class="list-unstyled footer-site-links nobottommargin">
									<li><a href="#" data-scrollto="#wrapper" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Top</a></li>
									<li><a href="#" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Liveability on Map</a></li>
                                    <li><a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">About</a></li>
								</ul>
							</div>

						</div>

						<div class="col-md-4">

							<div class="widget subscribe-widget clearfix" data-loader="button">
								<h4>Liveability in Hong Kong </h4>

								<div class="widget-subscribe-form-result"></div>
							</div>

						</div>

						<div class="col-md-4">

							<div class="widget clearfix">
								<h4>Contact</h4>

								<p class="lead">Hong Kong Science Park<br>Hong Kong Science Park,Hong Kong Science Park</p>

							</div>

						</div>

					</div>

				</div>
			</div>

			<div id="copyrights">
				<div class="container center clearfix">
					2017 &copy; HKSTP Data Studio | All Rights Reserved
				</div>
			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{% static '' %}canvas/js/jquery.js"></script>
	<script type="text/javascript" src="{% static '' %}canvas/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{% static '' %}canvas/js/functions.js"></script>
<script>
    var mapStyle = [{
        'stylers': [{'visibility': 'off'}]
    }, {
        'featureType': 'landscape',
        'elementType': 'geometry',
        'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
    }, {
        'featureType': 'water',
        'elementType': 'geometry',
        'stylers': [{'visibility': 'on'}, {'color': '#bfd4ff'}]
    }];
    var map;
    var censusMin = Number.MAX_VALUE, censusMax = -Number.MAX_VALUE;

    function initMap() {

        // load the map
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 22.326394, lng: 114.149139},
            zoom: 11,
            styles: mapStyle,
            scrollwheel: false
        });

        // Add a style-selector control to the map.
        var styleControl = document.getElementById('style-selector-control');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(styleControl);

        // Set the map's style to the initial value of the selector.
        var styleSelector = document.getElementById('style-selector');

{#        console.log("style selector is "+styleSelector);#}
        map.setOptions({styles: styles[styleSelector.value]});


        // Apply new JSON when the user selects a different style.
        styleSelector.addEventListener('change', function () {
            map.setOptions({styles: styles[styleSelector.value]});
        });


        // set up the style rules and events for google.maps.Data
        map.data.setStyle(styleFeature);
        map.data.addListener('mouseover', mouseInToRegion);
        map.data.addListener('mouseout', mouseOutOfRegion);
        {##}
        // wire up the button
        var selectBox = document.getElementById('census-variable');
        google.maps.event.addDomListener(selectBox, 'change', function () {
            clearCensusData();
            loadCensusData(selectBox.options[selectBox.selectedIndex].value);
        });

        // state polygons only need to be loaded once, do them now
        loadMapShapes();

    }

    /** Loads the state boundary polygons from a GeoJSON source. */
    function loadMapShapes() {
        // load US state outline polygons from a GeoJson file
        map.data.loadGeoJson("{% static '' %}geojson/hk.json", {idPropertyName: 'ID_1'});
        // wait for the request to complete by listening for the first feature to be
        // added
        google.maps.event.addListenerOnce(map.data, 'addfeature', function () {
            google.maps.event.trigger(document.getElementById('census-variable'),
                'change');
        });
    }

    /**
     * Loads the census data from a simulated API call to the US Census API.
     *
     * @param {string} variable
     */
    function loadCensusData(variable) {
        // load the requested variable from the census API (using local copies)
        var xhr = new XMLHttpRequest();
        {#        xhr.open('GET', variable + '.json');#}
        if (variable == "liangsongyitang") {
            xhr.open('GET', '{% static '' %}json_data/liangsongyitang.json');
        }
        else if (variable == "edu") {
            xhr.open('GET', '{% static '' %}json_data/edu.json');
        }
        else if (variable == "house") {
            xhr.open('GET', '{% static '' %}json_data/house.json');
        }
        else if (variable == "cr") {
            xhr.open('GET', '{% static '' %}json_data/cr.json');
        }

        xhr.onload = function () {
            var censusData = JSON.parse(xhr.responseText);
            censusData.shift(); // the first row contains column names
            censusData.forEach(function (row) {
                var censusVariable = parseFloat(row[0]);
                var stateId = row[1];
                console.log(censusVariable)

                // keep track of min and max values
                if (censusVariable < censusMin) {
                    censusMin = censusVariable;
                }
                if (censusVariable > censusMax) {
                    censusMax = censusVariable;
                }

                // update the existing row with the new data
                map.data
                    .getFeatureById(stateId)
                    .setProperty('census_variable', censusVariable);
            });

            // update and display the legend
            document.getElementById('census-min').textContent =
                censusMin.toLocaleString();
            document.getElementById('census-max').textContent =
                censusMax.toLocaleString();
        };
        xhr.send();
    }

    /** Removes census data from each shape on the map and resets the UI. */
    function clearCensusData() {
        censusMin = Number.MAX_VALUE;
        censusMax = -Number.MAX_VALUE;
        map.data.forEach(function (row) {
            row.setProperty('census_variable', undefined);
        });
        document.getElementById('data-box').style.display = 'none';
        document.getElementById('data-caret').style.display = 'none';
    }

    /**
     * Applies a gradient style based on the 'census_variable' column.
     * This is the callback passed to data.setStyle() and is called for each row in
     * the data set.  Check out the docs for Data.StylingFunction.
     *
     * @param {google.maps.Data.Feature} feature
     */
    function styleFeature(feature) {
        var high = [5, 69, 54];  // color of smallest datum
        var low = [151, 83, 34];   // color of largest datum

        // delta represents where the value sits between the min and max
        var delta = (feature.getProperty('census_variable') - censusMin) /
            (censusMax - censusMin);

        var color = [];
        for (var i = 0; i < 3; i++) {
            // calculate an integer color based on the delta
            color[i] = (high[i] - low[i]) * delta + low[i];
        }

        // determine whether to show this shape or not
        var showRow = true;
        if (feature.getProperty('census_variable') == null ||
            isNaN(feature.getProperty('census_variable'))) {
            showRow = false;
        }

        var outlineWeight = 0.5, zIndex = 1;
        if (feature.getProperty('state') === 'hover') {
            outlineWeight = zIndex = 2;
        }

        return {
            strokeWeight: outlineWeight,
            strokeColor: '#fff',
            zIndex: zIndex,
            fillColor: 'hsl(' + color[0] + ',' + color[1] + '%,' + color[2] + '%)',
            fillOpacity: 0.75,
            visible: showRow
        };
    }

    /**
     * Responds to the mouse-in event on a map shape (state).
     *
     * @param {?google.maps.MouseEvent} e
     */
    function mouseInToRegion(e) {
        // set the hover state so the setStyle function can change the border -----
        e.feature.setProperty('state', 'hover');

        var percent = (e.feature.getProperty('census_variable') - censusMin) /
            (censusMax - censusMin) * 100;

        // update the label
        document.getElementById('data-label').textContent =
            e.feature.getProperty('name');
        document.getElementById('data-value').textContent =
            e.feature.getProperty('census_variable');
        document.getElementById('data-box').style.display = 'block';
        document.getElementById('data-caret').style.display = 'block';
        document.getElementById('data-caret').style.paddingLeft = percent + '%';
    }

    /**
     * Responds to the mouse-out event on a map shape (state).
     *
     * @param {?google.maps.MouseEvent} e
     */
    function mouseOutOfRegion(e) {
        // reset the hover state, returning the border to normal
        e.feature.setProperty('state', 'normal');
    }

    var styles = {
        default: null,
        silver: [
            {
                elementType: 'geometry',
                stylers: [{color: '#f5f5f5'}]
            },
            {
                elementType: 'labels.icon',
                stylers: [{visibility: 'off'}]
            },
            {
                elementType: 'labels.text.fill',
                stylers: [{color: '#616161'}]
            },
            {
                elementType: 'labels.text.stroke',
                stylers: [{color: '#f5f5f5'}]
            },
            {
                featureType: 'administrative.land_parcel',
                elementType: 'labels.text.fill',
                stylers: [{color: '#bdbdbd'}]
            },
            {
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [{color: '#eeeeee'}]
            },
            {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [{color: '#757575'}]
            },
            {
                featureType: 'poi.park',
                elementType: 'geometry',
                stylers: [{color: '#e5e5e5'}]
            },
            {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{color: '#9e9e9e'}]
            },
            {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [{color: '#ffffff'}]
            },
            {
                featureType: 'road.arterial',
                elementType: 'labels.text.fill',
                stylers: [{color: '#757575'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [{color: '#dadada'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'labels.text.fill',
                stylers: [{color: '#616161'}]
            },
            {
                featureType: 'road.local',
                elementType: 'labels.text.fill',
                stylers: [{color: '#9e9e9e'}]
            },
            {
                featureType: 'transit.line',
                elementType: 'geometry',
                stylers: [{color: '#e5e5e5'}]
            },
            {
                featureType: 'transit.station',
                elementType: 'geometry',
                stylers: [{color: '#eeeeee'}]
            },
            {
                featureType: 'water',
                elementType: 'geometry',
                stylers: [{color: '#c9c9c9'}]
            },
            {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [{color: '#9e9e9e'}]
            }
        ],
        night: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
                featureType: 'administrative.locality',
                elementType: 'labels.text.fill',
                stylers: [{color: '#d59563'}]
            },
            {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [{color: '#d59563'}]
            },
            {
                featureType: 'poi.park',
                elementType: 'geometry',
                stylers: [{color: '#263c3f'}]
            },
            {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{color: '#6b9a76'}]
            },
            {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [{color: '#38414e'}]
            },
            {
                featureType: 'road',
                elementType: 'geometry.stroke',
                stylers: [{color: '#212a37'}]
            },
            {
                featureType: 'road',
                elementType: 'labels.text.fill',
                stylers: [{color: '#9ca5b3'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [{color: '#746855'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [{color: '#1f2835'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'labels.text.fill',
                stylers: [{color: '#f3d19c'}]
            },
            {
                featureType: 'transit',
                elementType: 'geometry',
                stylers: [{color: '#2f3948'}]
            },
            {
                featureType: 'transit.station',
                elementType: 'labels.text.fill',
                stylers: [{color: '#d59563'}]
            },
            {
                featureType: 'water',
                elementType: 'geometry',
                stylers: [{color: '#17263c'}]
            },
            {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [{color: '#515c6d'}]
            },
            {
                featureType: 'water',
                elementType: 'labels.text.stroke',
                stylers: [{color: '#17263c'}]
            }
        ],
        retro: [
            {elementType: 'geometry', stylers: [{color: '#ebe3cd'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#523735'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#f5f1e6'}]},
            {
                featureType: 'administrative',
                elementType: 'geometry.stroke',
                stylers: [{color: '#c9b2a6'}]
            },
            {
                featureType: 'administrative.land_parcel',
                elementType: 'geometry.stroke',
                stylers: [{color: '#dcd2be'}]
            },
            {
                featureType: 'administrative.land_parcel',
                elementType: 'labels.text.fill',
                stylers: [{color: '#ae9e90'}]
            },
            {
                featureType: 'landscape.natural',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
            },
            {
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
            },
            {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [{color: '#93817c'}]
            },
            {
                featureType: 'poi.park',
                elementType: 'geometry.fill',
                stylers: [{color: '#a5b076'}]
            },
            {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{color: '#447530'}]
            },
            {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [{color: '#f5f1e6'}]
            },
            {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [{color: '#fdfcf8'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [{color: '#f8c967'}]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [{color: '#e9bc62'}]
            },
            {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry',
                stylers: [{color: '#e98d58'}]
            },
            {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry.stroke',
                stylers: [{color: '#db8555'}]
            },
            {
                featureType: 'road.local',
                elementType: 'labels.text.fill',
                stylers: [{color: '#806b63'}]
            },
            {
                featureType: 'transit.line',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
            },
            {
                featureType: 'transit.line',
                elementType: 'labels.text.fill',
                stylers: [{color: '#8f7d77'}]
            },
            {
                featureType: 'transit.line',
                elementType: 'labels.text.stroke',
                stylers: [{color: '#ebe3cd'}]
            },
            {
                featureType: 'transit.station',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
            },
            {
                featureType: 'water',
                elementType: 'geometry.fill',
                stylers: [{color: '#b9d3c2'}]
            },
            {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [{color: '#92998d'}]
            }
        ],
        hiding: [
            {
                featureType: 'poi.business',
                stylers: [{visibility: 'off'}]
            },
            {
                featureType: 'transit',
                elementType: 'labels.icon',
                stylers: [{visibility: 'off'}]
            }
        ]
    };

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDohL9LiqVz-Eah7amMrQBZ4C5SckOI08c&callback=initMap">
</script>

</body>
</html>