<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
    {% load staticfiles %}

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="{% static '' %}canvas/one-page/onepage.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="{% static '' %}canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{% static '' %}canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="{% static '' %}canvas/one-page/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{% static '' %}canvas/css/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="{% static '' %}canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>td {text-align:center; vertical-align:middle;}</style>
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->


	<!-- Document Title
	============================================= -->
	<title>HKSTP LIVEABILITY</title>

    <link rel="stylesheet" href="{% static '' %}my_css/gmap_style.css" type="text/css" />

</head>

<body class="stretched" bgcolor="#7fc8ed">

	<div class="body-overlay"></div>

	<div id="side-panel" class="dark">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

{#		<div class="side-panel-wrap">#}

{#					<address style="line-height: 1.7;">#}
{#						795 Folsom Ave, Suite 600<br>#}
{#						San Francisco, CA 94107<br>#}
{#					</address>#}
{##}
{#					<div class="clear topmargin-sm"></div>#}
{##}
{#					<abbr title="Phone Number">Phone:</abbr> (91) 8547 632521<br>#}
{#					<abbr title="Fax">Fax:</abbr> (91) 11 4752 1433<br>#}
{#					<abbr title="Email Address">Email:</abbr> info@canvas.com#}

                    <div>
                        <form validate action="/s_action/" class="form-horizontal" id="s_form" method="GET">
                            {% csrf_token %}
                            <div class="form-body">
                                <br>
                                <br>
                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you prefer a lower price for buying house.">Housing</button>
                                    <input class="range_01" id="id_rang_01" type="text" name="housing_cost" value=""/>
                                </div>

                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you prefer a lower price for '兩餸一湯'.">Cost of Living</button>
                                    <input class="range_002" id="id_rang_02" type="text" name="dining_cost" value=""/>
                                </div>

                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you have kids.">Education </button>
                                    <input class="range_003" id="id_rang_03" type="text" name="education_ranking" value=""/>
                                </div>

                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you want to live in a district of low crime rate.">Crime Rate</button>
                                    <input class="range_004" id="id_rang_04" type="text" name="crime_rate" value=""/>
                                </div>

                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you prefer a higher employment rate.">Cost of Living</button>
                                    <input class="range_005" id="id_rang_05" type="text" name="employment" value=""/>
                                </div>

                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you want to live in a district of high air quality.">Air Quality</button>
                                    <input class="range_006" id="id_rang_06" type="text" name="air_quality" value=""/>
                                </div>

                                <div class="white-section">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="drag it to right if you want to live in a district with more amenities.">Amenities</button>
                                    <input class="range_007" id="id_rang_07" type="text" name="amenities" value=""/>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="center">
                                        <br>
                                        <button type="submit" class="btn btn-primary "
                                                >Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

{#		</div>#}

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header border-full-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="#" class="standard-logo" data-dark-logo="{% static '' %}img/radica_0.png"><img src="{% static '' %}img/radica_0.png" alt="Canvas Logo"></a>
						<a href="#" class="retina-logo" data-dark-logo="{% static '' %}img/radica_0.png"><img src="{% static '' %}img/radica_0.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

{#						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">#}
{#							<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>#}
{#                            <li><a href="#" data-href="#section-about"><div>About</div></a></li>#}
{#							<li>#}
{#                                <a href="#" data-href="#section-works">#}
{##}
{#                                <div>Liveability on Map</div>#}
{#                                </a>#}
{#                            </li>#}

{#							<li><a href="#" data-href="#section-services"><div>Services</div></a></li>#}
{#							<li><a href="#" data-href="#section-blog"><div>Blog</div></a></li>#}
{#							<li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>#}
{#						</ul>#}

						<div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-parallax full-screen force-full-screen">

			<div class="slider-parallax-inner">

				<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static '' %}img/cover_hk.jpg'); background-size: cover; background-position: center center;">

					<div class="container center">
						<div class="vertical-middle">
							<div class="emphasis-title">
								<h1>
									<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="3000">
										<span class="t-rotate t400 font-body opm-large-word">Welcome to Liveability | A Journey of Discovering</span>
									</span>
								</h1>
							</div>
{#							<a href="#" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70"></a>#}
						</div>
					</div>

					<div class="video-wrap">
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>

{#					<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>#}

				</div>

			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content" >

{#			<div class="content-wrap nopadding">#}

{#				<div id="section-works" class="page-section " >#}


{#                    <div class="container clearfix">#}
{#                        <h3></h3>#}
{##}
{#                    </div>#}
{#                    <div class="heading-block center">#}
{#                        <h2>Liveability on Map</h2>#}
                        {#							<span class="divcenter"></span>#}
{#                    </div>#}

                    <div id="controls" class="nicebox">
                        <div>
                            <select id="census-variable">


                                <option value="house">
                                    Housing
                                </option>
                                <option value="liangsongyitang">
{#                                    2016 年「兩餸一湯」平均價格#}
                                    Cost of Living
                                </option>
                                <option value="edu">
                                    Education
                                </option>
                                <option value="cr">
                                    Crime
                                </option>
                            </select>
                        </div>
                        <div id="legend">
                            <div id="census-min">min</div>
                            <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
                            <div id="census-max">max</div>
                        </div>
                        </div>
{#                    <div id="data-box" class="nicebox">#}
{#                        <label id="data-label" for="data-value"></label>#}
{#                        <span id="data-value"></span>#}
{#                    </div>#}

                    <div id="style-selector-control" class="map-control">
                        <select id="style-selector" class="selector-control">
                            <option value="default">Default</option>
                            <option value="silver">Silver</option>
                            <option value="night">Night mode</option>
                            <option value="retro" selected="selected">Retro</option>
                        </select>
                    </div>

                    <div class="col_one_third nobottommargin col_last"  >
                          <label for="data-value"></label>


{#                        <table>#}
{#						  <tbody>#}
{#                          <label for="data-value"></label>#}
{#							<tr>#}
{#							  <td rowspan="2">1</td>#}
{#                                <td bgcolor="#b9d3c2" height="200" width="285" align="center" valign="middle"><font size="+600" color="#faebd7"><strong>Liveability</strong></font></td>#}
{#                                <td bgcolor="#7fc8ed" height="150" width="295" align='right' valign="middle">#}
{#                                    <font size="+600" color="#fafad2"><strong>Liveability</strong></font>#}
{#                                    <p class="small"><span style="font-family: 'LiHei Pro';font-size: 72px;color: #FFFFFF">荃灣</span></p>#}
{#                                </td>#}
{#							  <td bgcolor="#7fc8ed" height="150" width="295" align="left" valign="middle" >#}
{#                                  <font size="+800" color="#fafad2"><strong id="value_best_sco" class="font-body opm-large-word">99</strong></font>#}
{#                                  <p class="small"><span style="font-family: 'Gloucester MT Extra Condensed'; font-size: 170px; text-align: left; color: #FFFFFF" id="value_best_sco">87</span></p>#}
{#                              </td>#}
{#                                <span class="t-rotate t400 font-body opm-large-word">Welcome to Liveability | A Journey of Discovering</span>#}
{#							  <td>@mdo</td>#}
{#							</tr>#}
{#							<tr>#}
{#							  <td>3</td>#}
{#							  <td bgcolor="#7fc8ed" height="200" width="295" align="center" valign="middle">#}
{#                                    <font size="+600" color="#f5f5f5"><strong>Best District</strong></font></td>#}
{#							  <td colspan="2" bgcolor="#7fc8ed" height="50" width="295" align="center" valign="middle" >#}
{#                                  <font size="+800" color="#f5f5f5"><strong id="value_best_dis" >Tai Po</strong></font>#}
{#                                  <span style="font-size: 50px; font-family: 'Abadi MT Condensed Extra Bold',serif;color: #FFFFFF" id="value_best_dis">Central & Western</span>#}
{#                              </td>#}
{#							  <td>@twitter</td>#}
{#							</tr>#}
{#                            <tr>#}
{#							  <td bgcolor="#7fc8ed" height="100" width="295" align="center" valign="middle">#}
{#                                    <img src="http://images.rimanggis.com/resource/campaign/58e110a5c16f4b47d3bc0dea/images/CSvfp_population.png" style="width: 100px;" /></td>#}
{#							  <td bgcolor="#7fc8ed" height="200" width="295" align="center" valign="middle" >#}
{#                                  <font size="+800" color="#f5f5f5"><strong id="value_popu">9869</strong></font></td>#}
{#                                <div id="data-box-popu" >#}
{#                                  <span id="data-value-population"></span>#}
{#                              </div>#}
{#							</tr>#}
{#							<tr>#}
{#							  <td>2</td>#}
{#							  <td bgcolor="#7fc8ed" height="100" width="295" align="center" valign="middle">#}
{#                                    <img src="http://images.rimanggis.com/resource/campaign/58e110a5c16f4b47d3bc0dea/images/gU6aV_Area.png" style=" height: 100px;" /></td>#}
{#							  <td bgcolor="#7fc8ed" height="200" width="295" align="center" valign="middle" >#}
{#                                  <font size="+800" color="#f5f5f5"><strong id="value_area" >67</strong></font></td>#}
{#							  <td>@fat</td>#}
{#							</tr>#}
{#                          <tr>#}
{#							  <td>2</td>#}
{#							  <td bgcolor="#7fc8ed" height="100" width="295" align="center" valign="middle">#}
{#                                    <img src="http://images.rimanggis.com/resource/campaign/58e110a5c16f4b47d3bc0dea/images/E26g0_score.png" style="width: 100px; height: 98px;" /></td>#}
{#							  <td bgcolor="#7fc8ed" height="200" width="295" align="center" valign="middle" >#}
{#                                  <font size="+800" color="#f5f5f5"><strong id="value_area" >67</strong></font></td>#}
{#                              <div id="data-box" >#}
{#                                  <span id="data-value"></span>#}
{#                              </div>#}
{#                              </td>#}
{#							  <td>@fat</td>#}
{#							</tr>#}
{##}
{#						  </tbody>#}
{#						</table>#}

                        <table id="andy_table_1" >
                            <tbody bgcolor="#7fc8ed">
                            <tr>
                                <td bgcolor="#7fc8ed">
                                    <p class="small">
{#                                        <div id="data-box-district-ch" >#}
                                            <div id="data-value-district-ch" bgcolor="#7fc8ed"></div>
{#                                        </div>#}
                                </td>
                                <td bgcolor="#7fc8ed">
                                    <p class="small">
{#                                    <div id="data-box-score-liveability">#}
                                        <div id="data-value-score-liveability" bgcolor="#7fc8ed"></div>
{#                                    </div>#}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table id="andy_table_2">
                            <tbody bgcolor="#7fc8ed">
                            <tr>
                                <td bgcolor="#7fc8ed">
{#                                    <p class="small" style="text-align: center;">#}
{#                                        <div id="data-box-district-en" >#}
{#                                        <span id="data-value-district-en"></span>#}
{#                                        </div>#}
                                    <div id="data-value-district-en" >
{#                                        <span id="data-value-district-en"></span>#}
                                        </div>
{#                                        <span style="color:#FFFFFF;"><span#}
{#                                            style="font-size: 80px;"><span#}
{#                                            style="font-family: 'Abadi MT Condensed Extra Bold';">Tsuen Wan</span></span></span>#}
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
{#                        </br>#}
{#                        </br>#}
                        <table id="andy_table_4">
                            <tbody bgcolor="#7fc8ed">
                            <tr>
                                <td  bgcolor="#7fc8ed">
                                    <p class="small" style="text-align: center;"><span style="color:#FFFFFF;"><span
                                            style="font-size: 80px;"><span
                                            style="font-family: 'Abadi MT Condensed Extra Bold';"></span></span></span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table id="andy_table_3" border="0" cellpadding="1" cellspacing="1" style="width: 468px;">
                            <tbody>
                            <tr>
                                <td bgcolor="#7fc8ed" style="width: 189px; text-align: center;"><span style="color:#FFFFFF;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img
                                        src="http://images.rimanggis.com/resource/campaign/58e110a5c16f4b47d3bc0dea/images/CSvfp_population.png"
                                        style="width: 100px; height: 98px;"/></span></td>
                                <td bgcolor="#7fc8ed" style="width: 266px;">
{#                                    <div id="data-box-popu" >#}
                                        <div id="data-value-population"></div>
{#                                    </div>#}
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#7fc8ed" style="width: 189px; text-align: center;"><span style="color:#FFFFFF;">&nbsp; &nbsp; &nbsp; &nbsp; <img
                                        src="http://images.rimanggis.com/resource/campaign/58e110a5c16f4b47d3bc0dea/images/gU6aV_Area.png"
                                        style="width: 100px; height: 98px;"/></span></td>
                                <td bgcolor="#7fc8ed" style="width: 266px;">
{#                                    <span style="color:#FFFFFF;"><span#}
{#                                        style="font-family: &quot;Arial Black&quot;; font-size: 48px; text-align: center;">267</span></span>#}
{#                                    <div id="data-box-area" >#}
                                        <div id="data-value-area"></div>
{#                                    </div>#}
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#7fc8ed" style="width: 189px; text-align: center;"><span style="color:#FFFFFF;">&nbsp; &nbsp; &nbsp; &nbsp; <img
                                        src="http://images.rimanggis.com/resource/campaign/58e110a5c16f4b47d3bc0dea/images/E26g0_score.png"
                                        style="width: 100px; height: 98px;"/></span></td>
                                <td bgcolor="#7fc8ed" style="width: 266px;">
{#                                    <div id="data-box" >#}
                                        <div id="data-value"></div>
{#                                    </div>#}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table id="andy_table_5">
                            <tbody bgcolor="#7fc8ed">
                            <tr>
                                <td style="width: 458px;" valign="top" bgcolor="#7fc8ed">
                                    <p class="small" style="text-align: center;"><span style="color:#FFFFFF;"><span
                                            style="font-size: 80px;"><span
                                            style="font-family: 'Abadi MT Condensed Extra Bold';"></span></span></span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="nobottommargin col_last" style="background:#7fc8ed">
                    <div id="map" style="height: 800px;" class="gmap"></div>
                    </div>

{#				</div>#}

                <div class="row clearfix common-height">

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #407088;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
							<div class="counter counter-lined"><span id="value_best_sco" data-from="0" data-to="92" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
                            <h1 id="value_best_dis" >Tai Po</h1>
						</div>
					</div>
                    <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-basket"></i>
							<div class="counter counter-lined"><span id="employment" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
							<h1>Employment</h1>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-graduation"></i>
							<div class="counter counter-lined"><span id="air_quality" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
							<h1>Air Quality</h1>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-ghost"></i>
							<div class="counter counter-lined"><span id="amenities" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
							<h1>Amenities</h1>
						</div>
					</div>

				</div>

                <div class="row clearfix common-height">

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-home"></i>
							<div class="counter counter-lined"><span id="score_housing" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
                            <h1>Housing</h1>
						</div>
					</div>
                    <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-basket"></i>
							<div class="counter counter-lined"><span id="score_dining" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
							<h1>Cost of Living</h1>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-graduation"></i>
							<div class="counter counter-lined"><span id="score_edu" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
							<h1>Education</h1>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #5d97b9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-line2-ghost"></i>
							<div class="counter counter-lined"><span id="score_cr" data-from="0" data-to="99" data-refresh-interval="50" data-speed="5000"></span><h1></h1></div>
							<h1>Crime</h1>
						</div>
					</div>

				</div>

{#			</div>#}

                <div>
                    <iframe width="100%" height="700px"
                            src="https://esrihk.maps.arcgis.com/apps/MapJournal/index.html?appid=c4cf5eafc03740c8b8c67a59c0e0777e"
                             scrolling="no">
                    </iframe>
                </div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">

{#			<div class="container center">#}
{#				<div class="footer-widgets-wrap">#}
{##}
{#					<div class="row divcenter clearfix">#}
{##}
{#						<div class="col-md-4">#}
{##}
{#							<div class="widget clearfix">#}
{#								<h4>Site Links</h4>#}
{##}
{#								<ul class="list-unstyled footer-site-links nobottommargin">#}
{#									<li><a href="#" data-scrollto="#wrapper" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Top</a></li>#}
{#									<li><a href="#" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Liveability on Map</a></li>#}
{#                                    <li><a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">About</a></li>#}
{#								</ul>#}
{#							</div>#}
{##}
{#						</div>#}
{##}
{#						<div class="col-md-4">#}
{##}
{#							<div class="widget subscribe-widget clearfix" data-loader="button">#}
{#								<h4>Liveability in Hong Kong </h4>#}
{##}
{#								<div class="widget-subscribe-form-result"></div>#}
{#							</div>#}
{##}
{#						</div>#}
{##}
{#						<div class="col-md-4">#}
{##}
{#							<div class="widget clearfix">#}
{#								<h4>Contact</h4>#}
{##}
{#								<p class="lead">Hong Kong Science Park<br>Data Studio</p>#}
{##}
{#							</div>#}
{##}
{#						</div>#}
{##}
{#					</div>#}
{##}
{#				</div>#}
{#			</div>#}

			<div id="copyrights">
				<div class="container center clearfix">
					2017 &copy; HKSTP Data Studio
				</div>
			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{% static '' %}canvas/js/jquery.js"></script>
	<script type="text/javascript" src="{% static '' %}canvas/js/plugins.js"></script>
    <script type="text/javascript" src="{% static '' %}canvas/js/components/rangeslider.min.js"></script>
    <script type="text/javascript" src="{% static '' %}canvas/js/components/moment.js"></script>


	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{% static '' %}canvas/js/functions.js"></script>

    <script type="text/javascript" src="{% static '' %}my_js/ajax.js"></script>
    <script type="text/javascript" src="{% static '' %}my_js/multi_slider.js"></script>
<script>
    var mapStyle = [
    {
        "featureType": "all",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f3f4f4"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry",
        "stylers": [
            {
                "weight": 0.9
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#83cead"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#fee379"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#fee379"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#7fc8ed"
            }
        ]
    }
]
    var map;
    var censusMin = Number.MAX_VALUE, censusMax = -Number.MAX_VALUE;

    function initMap() {

        // load the map
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 22.356394, lng: 114.059139},
            zoom: 11,
            styles: mapStyle,
            scrollwheel: false
        });

        // Add a style-selector control to the map.
{#        var styleControl = document.getElementById('style-selector-control');#}
{#        map.controls[google.maps.ControlPosition.TOP_LEFT].push(styleControl);#}

        // Set the map's style to the initial value of the selector.
{#        var styleSelector = document.getElementById('style-selector');#}

{#        console.log("style selector is "+styleSelector);#}
{#        map.setOptions({styles: styles[styleSelector.value]});#}


        // Apply new JSON when the user selects a different style.
{#        styleSelector.addEventListener('change', function () {#}
{#            map.setOptions({styles: styles[styleSelector.value]});#}
{#        });#}


        // set up the style rules and events for google.maps.Data
        map.data.setStyle(styleFeature);
        map.data.addListener('mouseover', mouseInToRegion);
        map.data.addListener('mouseout', mouseOutOfRegion);
        {##}
        // wire up the button
        var selectBox = document.getElementById('census-variable');
        google.maps.event.addDomListener(selectBox, 'change', function () {
            clearCensusData();
            loadCensusData(selectBox.options[selectBox.selectedIndex].value);
        });

        // state polygons only need to be loaded once, do them now
        loadMapShapes();

    }

    /** Loads the state boundary polygons from a GeoJSON source. */
    function loadMapShapes() {
        // load US state outline polygons from a GeoJson file
        map.data.loadGeoJson("{% static '' %}geojson/hk.json", {idPropertyName: 'ID_1'});
        // wait for the request to complete by listening for the first feature to be
        // added
        google.maps.event.addListenerOnce(map.data, 'addfeature', function () {
            google.maps.event.trigger(document.getElementById('census-variable'),
                'change');
        });
    }

    /**
     * Loads the census data from a simulated API call to the US Census API.
     *
     * @param {string} variable
     */
    function loadCensusData(variable) {
        // load the requested variable from the census API (using local copies)
        var xhr = new XMLHttpRequest();
        {#        xhr.open('GET', variable + '.json');#}
        if (variable == "liangsongyitang") {
{#            xhr.open('GET', 'http://202.130.117.30:8081/tdone_api/');#}
            xhr.open('GET', 'http://192.168.243.134:1234/tdone_api/');
        }
        else if (variable == "edu") {
{#            xhr.open('GET', 'http://202.130.117.30:8081/edu_api/');#}
            xhr.open('GET', 'http://192.168.243.134:1234/edu_api/');
        }
        else if (variable == "house") {
{#            xhr.open('GET', 'http://202.130.117.30:8081/hp_api/');#}
            xhr.open('GET', 'http://192.168.243.134:1234/hp_api/');
        }
        else if (variable == "cr") {
{#            xhr.open('GET', 'http://202.130.117.30:8081/cr_api/');#}
            xhr.open('GET', 'http://192.168.243.134:1234/cr_api/');
        }

        xhr.onload = function () {
            var censusData = JSON.parse(xhr.responseText);
            censusData.shift(); // the first row contains column names
            censusData.forEach(function (row) {
                var censusVariable = parseFloat(row[0]);
                var stateId = row[1];
                var populationVariable = row[2];
                var areaVariable = row[3];
                var district_en_Variable = row[4];
                var district_ch_Variable = row[5];
                var scoreVariable = row[6]
{#                console.log(censusVariable);#}

                // keep track of min and max values
                if (censusVariable < censusMin) {
                    censusMin = censusVariable;
                }
                if (censusVariable > censusMax) {
                    censusMax = censusVariable;
                }

                // update the existing row with the new data
                map.data
                    .getFeatureById(stateId)
                    .setProperty('census_variable', censusVariable);
                map.data
                    .getFeatureById(stateId)
                    .setProperty('population_variable', populationVariable);
                map.data
                    .getFeatureById(stateId)
                    .setProperty('area_variable', areaVariable);
                map.data
                    .getFeatureById(stateId)
                    .setProperty('district_en_variable', district_en_Variable);
                map.data
                    .getFeatureById(stateId)
                    .setProperty('district_ch_variable', district_ch_Variable);
                map.data
                    .getFeatureById(stateId)
                    .setProperty('score_variable', scoreVariable);
            });

            // update and display the legend
            document.getElementById('census-min').textContent =
                censusMin.toLocaleString();
            document.getElementById('census-max').textContent =
                censusMax.toLocaleString();
        };
        xhr.send();
    }

    /** Removes census data from each shape on the map and resets the UI. */
    function clearCensusData() {
        censusMin = Number.MAX_VALUE;
        censusMax = -Number.MAX_VALUE;
        map.data.forEach(function (row) {
            row.setProperty('census_variable', 66);
        });
{#        document.getElementById('data-box').style.display = 'block';#}
{#        document.getElementById('data-box-popu').style.display = 'block';#}
{#        document.getElementById('data-box-area').style.display = 'block';#}
{#        document.getElementById('data-box-district-en').style.display = 'block';#}
{#        document.getElementById('data-box-district-ch').style.display = 'block';#}
{#        document.getElementById('data-box-score-liveability').style.display = 'block';#}
        document.getElementById('data-caret').style.display = 'block';
    }

    /**
     * Applies a gradient style based on the 'census_variable' column.
     * This is the callback passed to data.setStyle() and is called for each row in
     * the data set.  Check out the docs for Data.StylingFunction.
     *
     * @param {google.maps.Data.Feature} feature
     */
    function styleFeature(feature) {
        var high = [5, 69, 54];  // color of smallest datum
        var low = [151, 83, 34];   // color of largest datum

        // delta represents where the value sits between the min and max
        var delta = (feature.getProperty('census_variable') - censusMin) /
            (censusMax - censusMin);

        var color = [];
        for (var i = 0; i < 3; i++) {
            // calculate an integer color based on the delta
            color[i] = (high[i] - low[i]) * delta + low[i];
        }

        // determine whether to show this shape or not
        var showRow = true;
        if (feature.getProperty('census_variable') == null ||
            isNaN(feature.getProperty('census_variable'))) {
            showRow = false;
        }

        var outlineWeight = 0.5, zIndex = 30;
        if (feature.getProperty('state') === 'hover') {
            outlineWeight = zIndex = 6;
        }

        return {
            strokeWeight: outlineWeight,
            strokeColor: '#fcffed',
            zIndex: zIndex,
            fillColor: 'hsl(' + color[0] + ',' + color[1] + '%,' + color[2] + '%)',
            fillOpacity: 0.75,
            visible: showRow
        };
    }

    /**
     * Responds to the mouse-in event on a map shape (state).
     *
     * @param {?google.maps.MouseEvent} e
     */
    function mouseInToRegion(e) {
        // set the hover state so the setStyle function can change the border -----
        e.feature.setProperty('state', 'hover');

        var percent = (e.feature.getProperty('census_variable') - censusMin) /
            (censusMax - censusMin) * 100;

        // update the label
{#        document.getElementById('data-label').textContent =#}
{#            e.feature.getProperty('name');#}
{#        document.getElementById('data-label').textContent = '';#}
        document.getElementById('data-value').textContent =
            e.feature.getProperty('census_variable');

        document.getElementById('data-value-population').textContent =
            e.feature.getProperty('population_variable');

        document.getElementById('data-value-area').textContent =
            e.feature.getProperty('area_variable');

        document.getElementById('data-value-district-en').textContent =
            e.feature.getProperty('district_en_variable');

        document.getElementById('data-value-district-ch').textContent =
            e.feature.getProperty('district_ch_variable');

        document.getElementById('data-value-score-liveability').textContent =
            e.feature.getProperty('score_variable');

{#        console.log(document.getElementById('data-value').textContent)#}

{#        document.getElementById('data-label-1').textContent = e.feature.getProperty('name');#}
{#        document.getElementById('data-value-1').textContent = '';#}

{#        document.getElementById('data-box').style.display = 'block';#}
{#        document.getElementById('data-box-popu').style.display = 'block';#}
{#        document.getElementById('data-box-area').style.display = 'block';#}
{#        document.getElementById('data-box-district-en').style.display = 'block';#}
{#        document.getElementById('data-box-district-ch').style.display = 'block';#}
{#        document.getElementById('data-box-score-liveability').style.display = 'block';#}
        document.getElementById('data-caret').style.display = 'block';
        document.getElementById('data-caret').style.paddingLeft = percent + '%';
    }

    /**
     * Responds to the mouse-out event on a map shape (state).
     *
     * @param {?google.maps.MouseEvent} e
     */
    function mouseOutOfRegion(e) {
        // reset the hover state, returning the border to normal
        e.feature.setProperty('state', 'normal');
    }



</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDohL9LiqVz-Eah7amMrQBZ4C5SckOI08c&callback=initMap">
</script>

</body>
</html>